header {
    background-color: #5e3666;
    color: #f3efef;
    padding: 60px;
    text-align: center;
}




h1 {
    margin: 0;
    font-size: 10px;
}




nav ul {
    list-style: none;
    padding: 0;
}




nav ul li {
    display: inline;
    margin-right: 50px;
}




nav a {
    text-decoration: none;
    color: #ebebeb;
}




.featured-products {
    max-width: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}




.product {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #7c4a79;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.product img {
    max-width: 20%;
}




body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #8f4e91;
}




h1 {
    color: #cac3c3;
    text-align: center;
}




.container {
    width: 80%;
    margin: 0 auto;
}




.card {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 1px;
    border: 1px solid #050404;
    border-radius: 10px;
    background-color: #61406e;
}




.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}




.card .info {
    margin-left: 20px;
}




.card .info h2 {
    color: #d4cbcb;
    margin: 0;
}




.card .info p {
    color: #c2b5b5;
    margin: 5px 0;
}






.card .info button {
    color: #e8a8f0;
    background-color: #e9e7e7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: point;
}
body{
    padding-top: 35px;
  }
 
  .search-container{
    width: 590px;
    display: block;
    margin: 0 auto;
  }
 
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #f0f0f0;
      transition: 0.35s ease;
      color: #dfd4d4;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease;
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease;
         opacity: 0;
       }    
     }
   }
 
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  #imgpos {
    position:absolute;
    left:10%;
    top:10%;
    margin-left:-110px;
    margin-top:-40px;
    }
